extends /layouts/default

block page-info
    - var pageTitle = "title";
    include contents/datas/_data
    - 
        var list = [
            "modules/JS30/drumKit/drumKit.html"
        ]

block content
    .container
        h1.text-center JS30
        br
        ul.list-group
            each item in list
                li.list-group-item 
                    a(href=item)=item 
