block page-info

doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    title #{pageTitle} 
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css assets/css/vendor.css
    // endbuild

    // build:css assets/css/main.css
    link(rel='stylesheet', href='/assets/css/main.css')
    // endbuild

    block style

  body
    include ../contents/header
    block content
    include ../contents/footer
    //script(src='/bower_components/jquery/dist/jquery.js')
    // build:js assets/js/vendor.js

    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild

    // build:js assets/js/plugins.js
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    // endbuild

    // build:js assets/js/main.js
    script(src='/assets/js/main.js')
    // endbuild

    block customScript
